<h2>User info</h2>
<div class="form_group">
  <label for="user_name">Name</label>
</div>
<div class="form_group">
  <label for="user_image">Image</label>
</div>
<div class="form_group">
  <label for="user_introduction">Introduction</label>
</div>