<h1>Editing Book</h1>
<div class="form_group">
  <label for="book_title">Title</label>
</div>
<div class="form_group">
  <label for="book_opinion">Opinion</label>
</div>
<%= link_to "Update Book",  books_path %>

<%= link_to "Show",  book_path %>
<%= link_to "Back",  books_path %>