<h2>Books</h2>
<thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
      <% @books.each do |book| %>
      <p><%= book.title %></p>
      <p><%= book.body %></p>
      <% end %>
    </tr>
</thead>
<%= render 'users/userinfo', user: @user %>
<%= render 'newbook', book: @book %>